1. Create a heat map that displays the humidity for every city from the part I of the homework.

2. Narrow down the DataFrame to find your ideal weather condition. For example: (A max temperature lower than 80 degrees but higher than 70., Wind speed less than 10 mph., Zero cloudiness.) Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal. Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

3. Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

4. Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.

In [1]:
#Import dependencies
from config import gkey
import gmaps
import numpy as np
import pandas as pd
import requests
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [6]:
#Import csv
city_data = "Resources/citydata.csv"

# Read City Data File and store into Pandas DataFrames
city_data = pd.read_csv(city_data)

,City Name,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,beidao,34.57,105.89,47.89,57.0,0.0,1.45
1,luanda,-8.84,13.23,76.01,83.0,84.0,11.56
2,nowshera,34.01,72.00,68.00,64.0,0.0,4.70
3,pimentel,-6.84,-79.93,73.40,56.0,68.0,23.04
4,asyut,27.18,31.18,80.60,42.0,0.0,9.17